body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background-image: url("background.jpg");
}
h1 {
    position: absolute;
    top: 60%;
    left: 50%;
    color: white;
}

p {
    text-align: center;
}
footer {
    text-align: center;
    padding: 50px 20px;
    border: 1px solid black;
   
}
.navbar {
    border-style: solid;
    border-color: black;
    background-color: black;
    
}
.navbar a {
    float: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;

}